@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import "tailwindcss";

@theme {
  --animate-text: text 5s ease infinite;

  @keyframes text {

    0%,
    100% {
      background-size: 200% 200%;
      background-position: left center;
    }

    50% {
      background-size: 200% 200%;
      background-position: right center;
    }
  }
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


}


body {
  margin: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
}

h1 {
  font-family: 'Press Start 2P', sans-serif;
  font-size: 4rem;
}

h2 {
  font-family: 'Press Start 2P', sans-serif;
  font-size: 2rem;
}

h3 {
  font-family: 'Press Start 2p', sans-serif;
  font-size: smaller;
}

.screen {
  display: none;
  text-align: center;
}

#characterSelectionScreen {
  display: block;

}


#gameBoardScreen {
  display: none;
  /* Initially hidden */
  transition: opacity 0.5s ease-in-out;
}


.screen.show {
  display: block;
}

.hidden {
  display: none;
}

.character-options {
  display: flex;
  justify-content: space-around;
}

.character {
  cursor: pointer;
}

.character img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  transition: transform 0.2s;
}

.character:hover img {
  transform: scale(1.1);
  background-color: #0f0516;

}

#root {
  width: 100vw;
  height: 100vh;
}